body {
  font-family: "courier";
  font-weight: bold;
}

/* https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  border: 3px solid grey;
  border-bottom: 2px solid grey;
}

.header > div {
  font-size: x-large;
}

table {
  border-spacing: 0px;
  border: solid 1px grey;
  border-top: none;
}

.board {
  background-color: grey;
}
.counter {
  display: flex;
  background-color: black;
  color: red;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 0 4px;
}

.center {
  display: flex;
  align-items: center;
  background-color: lightgrey;
  text-align: center;
  cursor: pointer;
}

.cell-border {
  background-color: grey;
  min-height: 21px;
  min-width: 21px;
  height: 21px;
  width: 21px;
  text-align: center;
  cursor: default;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  min-height: 21px;
  min-width: 21px;
  height: 21px;
  width: 21px;
  text-align: center;
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: red;
}

.four {
  color: purple;
}

.five {
  color: maroon;
}

.six {
  color: turquoise;
}

.seven {
  color: black;
}

.eight {
  color: grey;
}

.flagged {
  font-size: 12px;
}

.clicked {
  background-color: rgb(189, 189, 189);
}

.clicked.mine {
  background-color: red;
}
